In [1]:
import pandas as pd

df = pd.read_csv('Dane_mpsi.csv',sep='\t', encoding='utf-8')
zgon_df = df.drop(columns=['KG', 'follow up 30 dni'])
zgon_df

,zgon,male sex,WIEK,Operowany przed przyjęciem (0/1),Interleukina 6,Prokalcytonina,MAP 1sza doba,pao2/fio2 1sza doba,Waga (kg),Wzrost (cm),BMI,Glukoza (1. gaz. 1sza doba),Lac (1. gaz. 1sza doba),BE (1. gaz. 1sza doba),SOFA - punktacja,Sepsa (0/1)
0,0,0,51,0,110,"6,49",80,"452,5",70,165,"25,71166208",32,"2,3","-23,4",5,1
1,0,1,72,1,0,"0,06","63,33333333","178,8888889",100,180,"30,86419753","8,6","2,7","-4,6",10,0
2,0,1,62,1,"111,5","7,04",120,1430,80,175,"26,12244898","7,2","2,4","-4,6",10,0
3,0,0,71,1,"51,7","0,51",70,"312,5",80,170,"27,6816609","6,5","0,6","-7,9",13,0
4,1,0,64,0,151844,"17,9",60,0,80,160,"31,25","4,2",18,"-19,5",0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,0,0,65,1,0,"0,02","83,33333333",408,75,165,"27,54820937","9,4",2,"22,1",7,0
455,0,1,62,1,"73,8","5,89",60,385,80,178,"25,2493372",11,"7,4","-15,3",13,1
456,1,0,73,1,50000,"43,04",90,"138,8",60,165,"22,03856749","12,8","10,5","-14,1",15,1
457,0,1,37,0,4823,"1,32",60,256,70,170,"24,22145329","5,6","14,6","-18,5",10,0
458,0,1,49,0,"46,8","0,66",50,"154,1666667",90,165,"33,05785124","6,4","4,6","-0,1",13,0

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report

# Select features (exclude 'zgon' and non-numeric columns)
X = zgon_df.drop(columns=['zgon'])
y = zgon_df['zgon']

# Convert all columns to numeric, coerce errors to NaN, then fill NaN with column mean
X = X.apply(pd.to_numeric, errors='coerce')
X = X.fillna(X.mean())

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Normalize features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train MLP
mlp = MLPClassifier(hidden_layer_sizes=(128,128,32), max_iter=300, random_state=42)
mlp.fit(X_train_scaled, y_train)

# Predict and evaluate
y_pred = mlp.predict(X_test_scaled)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.63      0.69      0.66        42
           1       0.72      0.66      0.69        50

    accuracy                           0.67        92
   macro avg       0.67      0.68      0.67        92
weighted avg       0.68      0.67      0.67        92